.headerContainer{
background: #F7F7F7;
border-bottom: 1px solid #F2F4F7;

display: flex;
width: 1440px;
align-items: center;
gap: 450px;

padding: 16px 64px;

position: static;
}


.headerTolbar{
    gap: 32px;
}

@media screen and (max-width: 1200px) {
    .headerTolbar  {
        margin-left: auto;
    }
    .headerContainer {
        gap: 0;
    }
}


@media screen and (min-width: 1199px) {
    .headerTolbar  {
        margin-left: none;
    }
    .headerContainer {
        gap: 450px;
    }
}